cloudflare_zone       = ""
cloudflare_zone_id    = ""
cloudflare_account_id = ""
cloudflare_email      = ""
cloudflare_token      = ""
gcp_project_id        = ""
zone                  = ""
machine_type          = ""